@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* font-family: 'Sintony', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */


:root {
  --text-color: #1d1f1b;
  --cream-bg: #f0d39f;
  --text-font-sans-pro: "Source Sans Pro", sans-serif;
  --text-font-sintony: "Sintony", sans-serif;
  --purple-bg: rgba(81, 40, 92, 0.89);
  --nav-bg: rgba(26, 22, 27, 0.212);
}

* {

  margin: 0;
  padding: 0;
}

body {
  color: black;

}

.left {
  font-size: 50px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(67, 37, 75, 0.89);
  ;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 90px;
  list-style: none;
  color: var(--purple-bg);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: var(--purple-bg);
}

nav ul li a {
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin: 15px;
  color: var(--purple-bg);
  font-weight: bold;
  padding: 7px;

}

nav ul li :hover {
  background-color: #DDA5F7;
  color: #594c61;
  padding: 8px;


}


main {
  display: flex;
  justify-content: space-around;
}


.section1 {
  display: flex;
  justify-content: space-between;


}

.leftsection {
  margin: 90px;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 60px;
  align-items: center;
}

.rightsection {
  margin: 50px;
  margin-right: 50px;
  background-image: url("");

}

.section2 {

  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#aboutme {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: rgba(81, 40, 92, 0.89);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.sec2 {

  padding: 10px;
  text-align: justify;
  text-shadow: #1d1f1b;
  align-items: center;
  margin-left: 30px;


}

.description {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  color: rgb(124, 111, 111);
  width: 90%;
  justify-content: center;

}

#hobby {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
  color: rgb(124, 111, 111);
  font-size: 20px;
}

#hobby li::before {
  content: "";
  border-color: transparent rgb(124, 111, 111);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
  font-size: 20px;
}

.btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 20%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgba(81, 40, 92, 0.89);
  border-radius: 7px;
  font-size: 20px;
}

#resume {
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: relative;
}

.Qualifications {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: rgba(81, 40, 92, 0.89);
  margin-bottom: 10px;
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.section3 {
  margin: 10px;
  padding: 10px;
  margin-left: 220px;
}

.horizontal {
  height: 1px;
  background-color: var(--purple-bg);
  margin: 10px;
  width: 80%;
}

.vertical,
hr {
  height: 200px;
  background-color: var(--purple-bg);
  margin: 0 150px;
  width: 2px;
  display: flex;
}

.vertical1 {
  margin: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.vertical1:hover {
  background-color: #e8cfee;
  padding: 20px;
}


.section4 {
  margin-left: 150px;
}


.skillbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}


.left {
  width: 250%;
  margin: 29px;
}

.left p {
  font-size: 20px;
  padding-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  color: purple;
}

.right {
  width: 250%;
  margin: 20px;
}

.right p {
  font-size: 20px;
  padding-top: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  color: purple;
}

.secttion5 {
  margin: 20px;
}

.card {
  background-color: rgb(228, 224, 228);
}

h2 {
  margin: 20px;

  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 110px;
  margin-left: 130px;
}

.container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.form1 {
  padding: 10px;
  width: 100%;
}

span {
  margin-left: 90px;
}

.section6 input,
textarea {
  margin-left: 90px;
  width: 100%;
  padding: 10px;
  background-color: rgba(245, 240, 247, 0.89);
  border: 1px solid rgb(175, 186, 197);
  border-radius: 3px;
}

#button {
  background-color: rgba(228, 194, 241, 0.89);
  border: 1px solid rgb(175, 186, 197);
  border-radius: 3px;
  padding: 10px;
  width: 30%;
  justify-content: center;
  display: flex;
  margin-left: 90px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: darkslateblue;
}


.footer {

  background-image: linear-gradient(to bottom, #E0B0FE, #DDA5F7, #D993E9);
  height: 200px;
  color: white;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  width: 100%;
}
#myBtn {
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#myBtn:hover {
  background-color: #333;
}




.foot {
  margin-top: 60px;
}